html{
    font-size: 80%;

}

header{
    height: 10rem;
}

.relleno{
    height: 10rem;
    width: 100%;
}

.main-nav #nav-items ul{
    font-size: 2rem;
}

.experience .experience-title,
.skills .skills-title,
.education .education-title,
.aboutMe .aboutMe-title,
.computer-skill .computer-skill-title,
.languages .languages-title,
.contact .contact-title,
.reference .reference-title {
    width: 50%;
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
}

.experience .experience-title h2,
.skills .skills-title h2,
.education .education-title h2,
.aboutMe .aboutMe-title h2,
.computer-skill .computer-skill-title h2,
.languages .languages-title h2,
.contact .contact-title h2,
.reference .reference-title h2 {
    font-size: 3rem;
    justify-self: flex-start;
    margin-left: 25%;
}


.landing-face .face-photo {
    width: 25rem;
    height: 25rem;
    margin-top: 10rem;
}

.landing-knowme{
    margin-top: 4rem;
}

.aboutMe .aboutMe-container{
    max-width: 1080px;
    font-size: 2rem;
}

.education .education-container {
    max-width: 2500px;
}

.education .education-container .education-card{
    max-width: 800px;
}

.education .education-container .education-card .education-description{
    font-size: 1.8rem;
}

.skills .skills-cards_container .skills-card{
    border: 3px solid rgba(200, 150, 0, 0.2);
}

.skills-cards_container .skills-card .course-center-info{
    font-size: 2rem;
}

.skills-cards_container .skills-card .course-description{
    font-size: 1.8rem;
}

.experience .card-head{
    min-height: 200px;
}

.experience .card-head .card-head_title h3{
    font-size: 3rem;
}

.experience .card-head .card-head_title{
    font-size: 1.8rem;
}

.experience .card-job_title{
    font-size: 2rem;
}

.experience .card-job_description{
    font-size: 1.8rem;
    min-height: 400px;
}

.experience .card-job_description ul {
    font-size: 1.6rem;
}

.computer-skills-container {
    max-width: 2000px;
    display: flex; 
    flex-wrap: wrap;
}

.computer-skill-card{
    width: 50%;
    font-size: 1.4rem; 
}

.languages .languages-card_container{
    max-width: 2000px;
}

.contact .contact-container {
    max-width: 2000px;
}

.reference .reference-contacts div {
    font-size: 1.8rem;
}

.reference .reference-contacts .reference-name {
    font-size: 2.4rem;
}

footer{
    font-size: 2rem;
}
