#toggle{
    display: none;
}

header .main-nav{
    position: relative;
    top: 0;
}

.main-nav #nav-items{
    display: block;
}

.main-nav #nav-items ul{
    display: flex;
    font-size: 1.4rem;
    border-bottom: 0px;
    justify-content: center;
}

.main-nav #nav-items li{
    border-bottom: 0px;
    margin: 0 1rem;
    padding: 1rem;
}


.main-nav #nav-items ul:nth-child(1){
    border-top: 0px;
}

.main-nav #nav-items ul:last-child{
    border-bottom: 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
}

.main-nav #nav-items li:hover {
    border-radius: 2rem;
}

.main-nav #nav-items li a{
    font-size: 1.2rem;
}

.header-out{
    height: 100vh;
    width: 2.5%;
    justify-content: flex-start;
}

.header-out .main-nav,
.header-out #nav-items,
.header-out #nav-items ul{
    height: 100%;
    
}

.header-out #nav-items ul{
    flex-direction: column;
    gap: 1rem;
}


.header-out #nav-items ul li{
    background-color: var(--gold);
    margin: 0;
    border-radius: 0 10px 10px 0;
    text-align: left;
    overflow: hidden;
    height: 4rem;
    
}

.header-out #nav-items ul li a{
    color: var(--gold);
}

.header-out #nav-items ul li:hover{
    width: 15rem;
    height: auto;
    border-radius: 0 50px 50px 0;
    border: 2px solid var(--gold);
}

.skills .skills-cards_container .skills-card {
    min-width: 600px;
}

.languages .languages-card{
    max-width: 50rem;
}