.header-out #nav-items ul li:hover{
    width: 20rem;
}

.relleno{
    height: 6rem;
    width: 100%;
}


.landing-face,
.aboutMe {
    width: 50%;
}

.landing-knowme{
    display: none;
}

.landing-face {
    border-right: 0.5rem solid var(--gold);
}

.top-page-container{
    display: flex;
}

.education .education-container {
    max-width: 1440px;
    display: flex;
}

.education .education-container .education-card{
    margin: 2rem;
    max-width: 600px;
}

.skills .skills-cards_container .skills-card{
    margin: 1rem;
    min-width: 900px;
    min-height: 400px;
}

.skills-cards_container .skills-card:nth-child(2n) {
    background-color: var(--grey);
    
}

.languages .languages-card_title h3{
    font-size: 2.4rem;
}

.languages .languages-card_title p{
    font-size: 1.6rem;
}

.languages .languages-card_description{
    font-size: 1.8rem;
}

.contact .contact-container {
    max-width: 900px;
    justify-content: center;
}

.contact .contact-container div {
    width: 35%;
    margin: 0.5rem;
}

.contact a {
    font-size: 1.8rem;
}