:root {
    --gold: #C89600;
    --background-color: #454545;
    --grey: #DDDDDD;
    --black-text: #262626;
    --white-text: #FAFAFA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    display: flex;
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: #c4c4c4;
    font-size: 1.8rem;
    align-items: center;
}

header .page-cv-title{
    margin-left: 20px;
}

header .main-nav{
    align-self: right;
}

header .page-cv-title {
    font-size: 2.4rem;
}

/* Menu hamburguesa*/

.main-nav a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid var(--gold);
    background-color: #c4c4c4;
    color: var(--black-text);
}

.main-nav input[type="checkbox"],
.main-nav .fa-bars {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 20px;
    top: calc(50% - 1.5rem);
    width: 3rem;
    height: 3rem;
}

.main-nav .fa-bars{
    font-size: 48px;
    pointer-events: none;
}

.main-nav input[type="checkbox"] {
    opacity: 0;
}

.main-nav {
    color: white;
    position: absolute;
    min-height: 48px;
    width: 100%;
    
}

.main-nav nav {
    display: none;
    text-align: center;
}

.main-nav input:checked~nav {
    display: block;
    position: absolute;
    top: 48px;
    width: 100%;
    list-style: none;
}

.main-nav nav a:hover{
    background-color: var(--gold);
}

/*Menu Hamburguesa*/

.landing-face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: var(--background-color);
}


.landing-face .face-photo{
    background-image: url(../Assets/Images/Foto-Curriculum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
    border: 1px solid rgba(0,0,0, 0.5);
    box-shadow: 2px 5px 20px 5px rgba(0,0,0, 0.5);
}

.landing-face h1 {
    font-size: 3rem;
    color: var(--white-text);
}

.section-division {
    display: flex;
    justify-content: center;
    background-color: var(--gold);
    font-size: 2.4rem;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.section-division a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-text);
}


.section-division .down-arrow{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("../Assets/Icons/svg/expand-button-white.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 2rem;
}

.contact {
    background-color: var(--grey);
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 2rem 0;
    padding: 3rem;
}

.contact .contact-container{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.contact .contact-container div{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.contact a{
    display: inline-block;
    text-decoration: none;
    margin-left: 3rem;
    font-size: 1.4rem;
    color: var(--black-text);
}

.contact span {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.contact div:nth-child(1) span{
    background-image: url("../Assets/Icons/svg/phone.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(2) span{
    background-image: url("../Assets/Icons/svg/pin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(3) span{
    background-image: url("../Assets/Icons/svg/Gmail.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(4) span{
    background-image: url("../Assets/Icons/svg/Linkedin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(5) span{
    background-image: url("../Assets/Icons/svg/Twitter.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(6) span{
    background-image: url("../Assets/Icons/svg/Github.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}