:root {
    --gold: #C89600;
    --background-color: #454545;
    --grey: #DDDDDD;
    --black-text: #262626;
    --white-text: #FAFAFA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100%;
    background-color: var(--grey);
    font-size: 1.8rem;
    position: fixed;
}


#toggle{
    position: fixed;
    top: 1rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--grey);
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--gold);
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--gold);
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before{
    transform: translateY(0) rotate(45deg);
}

#toggle.active::after{
    transform: translateY(0) rotate(-45deg);
}

.main-nav #nav-items {
    display: none;
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 0;
    transition: 0.5s;
}

.main-nav #nav-items.active{
    display: block;
    top: 6rem;
    height: 5rem;
}

.main-nav #nav-items ul {
    width: 100%;
    text-align: center;
}

.main-nav #nav-items ul:nth-child(1){
    border-top: 2px solid var(--gold);
}

.main-nav #nav-items li {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--grey);
    border-bottom: 2px solid var(--gold);
    list-style: none;
}

.main-nav #nav-items li:hover {
    background-color: var(--background-color);
}

.main-nav #nav-items li:active {
    background-color: var(--background-color);
    font-size: 1.4rem;
}

.main-nav #nav-items li a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--gold);
    letter-spacing: 0.2rem;
}

.landing-face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
    background-color: var(--background-color);
}


.landing-face .face-photo{
    background-image: url(../Assets/Images/Foto-Curriculum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
    border: 1px solid rgba(0,0,0, 0.5);
    box-shadow: 2px 5px 20px 5px rgba(0,0,0, 0.5);
}

.landing-face h1 {
    font-size: 3rem;
    color: var(--white-text);
}


.section-division {
    display: flex;
    justify-content: center;
    background-color: var(--gold);
    font-size: 2.4rem;
    width: 100%;
    height: 5vh;
}

.section-division a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-text);
}


.section-division .down-arrow{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("../Assets/Icons/svg/expand-button-white.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 2rem;
}

.contact {
    background-color: var(--grey);
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 2rem 0;
    padding: 3rem;
}

.contact .contact-container{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.contact .contact-container div{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.contact a{
    display: inline-block;
    text-decoration: none;
    margin-left: 3rem;
    font-size: 1.4rem;
    color: var(--black-text);
}

.contact span {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.contact div:nth-child(1) span{
    background-image: url("../Assets/Icons/svg/phone.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(2) span{
    background-image: url("../Assets/Icons/svg/pin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(3) span{
    background-image: url("../Assets/Icons/svg/Gmail.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(4) span{
    background-image: url("../Assets/Icons/svg/Linkedin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(5) span{
    background-image: url("../Assets/Icons/svg/Twitter.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact div:nth-child(6) span{
    background-image: url("../Assets/Icons/svg/Github.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}