:root {
    --gold: #C89600;
    --transparent-gold: rgba(200, 150, 0, 0.8);
    --background-color: #454545;
    --grey: #DDDDDD;
    --black-text: #262626;
    --grey-text: #555555;
    --white-text: #FAFAFA;
    --pro: #62ff00;
    --advance: #4cc500;
    --medium: #addd00;
    --rookie: #ddb500;
    --newbie: #dd4600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    position: absolute;
    top: 6rem;
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-color);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--background-color);
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: var(--background-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6rem;
    width: 100%;
    background: var(--grey);
    font-size: 1.8rem;
    position: fixed;
    border-bottom: 1px solid rgba(200, 150, 0, 0.5);
    z-index: 100;
}

.header-out {
    background-color: transparent;
    border-bottom: none;
}



#toggle {
    margin-right: 3rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-out .toogle-out {
    background: var(--grey);
    border: 1px solid rgba(200, 150, 0, 0.5);
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #c2c2c2,
                inset -5px -5px 10px #f8f8f8,
                2px 2px 5px var(--background-color);

}

#toggle::before {
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--gold);
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--gold);
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.toogle-out.active {
    width: 100%;
    height: 100%;
    margin-right: 0;
    background-color: var(--grey);
    border-radius: 0px;
    box-shadow: none;
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0) rotate(45deg);
    background-color: #C74D69;
}

#toggle.active::after {
    transform: translateY(0) rotate(-45deg);
    background-color: #C74D69;
}

.main-nav {
    width: 100%;
    position: absolute;
    top: 5.8rem;
}

.main-nav #nav-items {
    display: none;
}

.main-nav #nav-items.active {
    display: block;
    top: 5.9rem;
}

.main-nav #nav-items ul {
    text-align: center;
    list-style: none;
}

.main-nav #nav-items ul:nth-child(1) {
    border-top: 2px solid var(--gold);
}

.main-nav #nav-items ul:last-child {
    border-bottom: 4px solid var(--gold);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.main-nav #nav-items li {
    padding: 2rem;
    background-color: var(--grey);
    border-bottom: 2px solid var(--gold);
}

.main-nav #nav-items li:hover {
    background-color: var(--background-color);
}

.main-nav #nav-items li:active {
    background-color: var(--background-color);
    font-size: 1.4rem;
}

.main-nav #nav-items li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--black-text);
    letter-spacing: 0.2rem;
}

.main-nav #nav-items li a:hover {
    color: var(--gold);
}


.landing-face,
.aboutMe,
.education,
.skills,
.experience,
.computer-skill,
.languages,
.contact,
.reference,
footer {
    border-top: 0.5rem solid var(--gold);
}

.landing-face {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    padding: 3rem;
}


.landing-face .face-photo {
    background-image: url("../Assets/Images/Foto-Curriculum.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin-top: 6rem;
    margin-bottom: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 20px 5px rgba(0, 0, 0, 0.5);
}

.landing-face h1 {
    font-size: 3rem;
    color: var(--white-text);
}

.landing-knowme {
    display: flex;
    justify-content: center;
    background-color: var(--gold);
    font-size: 2.4rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 5rem;
}

.landing-knowme:hover {
    background-color: var(--background-color);
    border: 1px solid var(--gold);
    padding: 0.9rem;
}

.landing-knowme a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-text);
}

.landing-knowme .down-arrow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("../Assets/Icons/svg/expand-button-white.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 2rem;
}

.section-division {
    background-color: var(--gold);
    font-size: 2.4rem;
    height: 1vh;
}

.aboutMe {
    font-size: 1.4rem;
    padding: 3rem;
    background-color: var(--grey);
}

.aboutMe .aboutMe-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.aboutMe-title span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    grid-column: 1/2;
    background-image: url("../Assets/Icons/svg/user.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutMe-title h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: flex-start;
    margin-left: 2rem;
}

.aboutMe-container {
    padding: 2rem;
}

.education {
    padding: 3rem;
}


.education-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.education span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    grid-column: 1/2;
    background-image: url("../Assets/Icons/svg/book.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.education h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: flex-start;
    margin-left: 2rem;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.education .education-card {
    margin-top: 1rem;
}

.education .education-college {
    background-color: var(--grey);
    padding: 2rem;
    border-radius: 1rem;
}

.education .education-college h3 {
    font-size: 2rem;
}

.education .education-college h3 a {
    text-decoration: none;
    color: var(--black-text);
}

.education .education-college h3 a:hover {
    color: var(--gold);
}

.education .education-college p {
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: bold;
    color: var(--grey-text);
}

.education .education-description {
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-radius: 0 0 1rem 1rem;

}

.skills {
    /* background-color: var(--grey); */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
    position: relative;
}

.skills .skills-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
}

.skills-title h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: flex-start;
    margin-left: 2rem;
}

.skills-title span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    grid-column: 1/2;
    background-image: url("../Assets/Icons/svg/compass.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.skills-flecha {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: calc(50% - 0.5rem)
}

.skills-flecha.flecha-izquierda {
    background-image: url("../Assets/Icons/svg/keyboard-left-arrow-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 1rem;
}

.skills-flecha.flecha-derecha {
    background-image: url("../Assets/Icons/svg/keyboard-right-arrow-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 1rem;
}

.skills-cards_container {
    width: 100%;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 95%;
    max-width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.skills-cards_container .skills-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    border: 1px solid rgba(200, 150, 0, 0.2);
    border-radius: 1rem;
    max-width: 260px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.skills-cards_container .skills-card:nth-child(2n-1) {
    background-color: var(--grey);
}

.skills-cards_container .course-center-img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.skills-cards_container .skills-card .course-center_logo {
    height: 3rem;
    width: 3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.skills-cards_container .platzi .course-center_logo {
    background-image: url("../Assets/Images/com.platzi.platzi.webp");
}

.skills-cards_container .Axigma .course-center_logo {
    background-image: url("../Assets/Images/Axigma.jpg");
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.skills-cards_container .Linkedin .course-center_logo {
    background-image: url("../Assets/Icons/svg/Linkedin.svg");
}

.skills-cards_container .institute .course-center_logo {
    background-image: url("../Assets/Images/School.png");
}

.skills-cards_container .Domestika .course-center_logo {
    background-image: url("../Assets/Icons/svg/Domestika.png");
}

.skills-cards_container .Google .course-center_logo {
    background-image: url("../Assets/Icons/svg/Google__G__Logo.svg.webp");
}


.skills-cards_container .course {
    width: 80%;
    padding-left: 2rem;
    font-size: 1.4rem;
    align-self: flex-start;
}

.skills-cards_container .course .course-name {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.skills-cards_container .skills-card .course-center-info {
    letter-spacing: 0.1rem;
    font-weight: 500;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid var(--gold);
}

.skills-cards_container .skills-card .course-description {
    margin-top: 2rem;
}

.experience {
    background-color: var(--grey);
    padding: 3rem;
}

.experience .cards {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--background-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.experience-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.experience .experience-title span {
    display: inline-block;
    min-height: 3rem;
    min-width: 3rem;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    background-image: url("../Assets/Icons/svg/order.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.experience h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: flex-start;
    margin-left: 2rem;
}

.experience .card-head {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.experience .card-head .card-head_image {
    margin-right: 1.5rem;
}

.experience .card-head .card-head_image img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.experience .card-head .card-head_title {
    width: 70%;
    color: var(--white-text);
    font-size: 1rem;
    line-height: 1.4;
}

.experience .card-head .card-head_title h3 {
    font-size: 1.4rem;
}

.experience .card-head .card-head_title a {
    text-decoration: none;
    color: var(--white-text);
    max-width: 100%;
}

.experience .card-head .card-head_title a:hover {
    color: var(--gold);
}

.experience .card-head .card-head_title .open-link {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-image: url("../Assets/Icons/svg/move-window-white.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.5rem;
}

.experience .card-job_title {
    padding: 1rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    color: var(--white-text);
    font-size: 1.8rem;
}

.experience .card-job_description {
    width: 90%;
    margin: 0 auto;
    background-color: var(--grey);
    padding: 2rem;
    font-size: 1.4rem;
    border-radius: 1rem;
}

.experience .card-job_description ul {
    margin-left: 2rem;
    line-height: 1.8;
    margin-top: 1rem;
    font-size: 1rem;
}

.computer-skill {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
}

.computer-skill .computer-skill-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.computer-skill-title h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: flex-start;
    margin-left: 2rem;
}

.computer-skill-title span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    grid-column: 1/2;
    background-image: url("../Assets/Icons/svg/mac.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.computer-skill-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}

.computer-skills-container {
    width: 100%;
}

.computer-skill-card .computer-skill-logo span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    grid-column: 1/2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.computer-skill-card .computer-skill-name {
    grid-column: 2/3;
    width: 100%;
    text-align: left;
    padding-left: 2rem;
}

.computer-skill-card .track {
    grid-column: 3/4;
    width: 100%;
    height: 1.5rem;
    border: 1px solid black;
}

.computer-skill-card .track .percentage {
    width: 1%;
    height: 100%;
    background-color: red;
    transition: 2s;
}

.track .percentage[data-scroll="in"] {
    height: 100%;
}

.languages {
    font-size: 1.4rem;
    padding: 3rem;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.languages .languages-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.languages-title span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    grid-column: 1/2;
    background-image: url("../Assets/Icons/svg/mundo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.languages-title h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: flex-start;
    margin-left: 2rem;
}

.languages .languages-card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.languages .languages-card {
    width: 100%;
    margin: 1rem;
    min-width: 26rem;
    max-width: 35rem;
}

.languages .languages-card_title {
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--white-text);
    border-radius: 1rem;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.2);
}

.languages .languages-card_title h3 {
    font-size: 1.8rem;
}

.languages .languages-card_title p {
    font-size: 1.2rem;
}

.languages .languages-card_description {
    list-style: none;
    border-left: 1px solid var(--black-text);
    border-right: 1px solid var(--black-text);
    border-bottom: 1px solid var(--black-text);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
}

.languages .languages-card_description li {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.languages .languages-card_description li div:nth-child(2) {
    width: 60%;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;

}

.languages .languages-card_description li div:nth-child(2) div {
    width: 30%;
    height: 100%;
    border: 1px solid;
    margin: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition-delay: 0.5s;
    transition: 5s;
}

.english .reading div:nth-child(2) div {
    background-color: var(--advance);
}

.english .writing div:nth-child(2) div {
    background-color: var(--advance);
}

.english .speaking div:nth-child(2) div:nth-child(1),
.english .speaking div:nth-child(2) div:nth-child(2) {
    background-color: var(--medium);
}

.italian .reading div:nth-child(2) div:nth-child(1) {
    background-color: var(--rookie);
}

.italian .writing div:nth-child(2) div:nth-child(1) {
    background-color: var(--rookie);
}

.italian .speaking div:nth-child(2) div:nth-child(1) {
    background-color: var(--rookie);
}

.languages .languages-card_description li div.level[data-scroll="out"] {
    background-color: var(--grey);

}


.contact {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
}

.contact .contact-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.contact-title h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: flex-start;
    margin-left: 2rem;
}

.contact-title span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    grid-column: 1/2;
    background-image: url("../Assets/Icons/svg/call-forwarding.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact .contact-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
}


.contact .contact-container div {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.contact a {
    display: inline-block;
    text-decoration: none;
    margin-left: 3rem;
    font-size: 1.4rem;
    color: var(--black-text);
}

.contact a:hover {
    color: var(--gold);
}

.contact span {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.contact-container div:nth-child(1) span {
    background-image: url("../Assets/Icons/svg/phone.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container div:nth-child(2) span {
    background-image: url("../Assets/Icons/svg/pin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container div:nth-child(3) span {
    background-image: url("../Assets/Icons/svg/Gmail.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container div:nth-child(4) span {
    background-image: url("../Assets/Icons/svg/Linkedin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container div:nth-child(5) span {
    background-image: url("../Assets/Icons/svg/Twitter.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container div:nth-child(6) span {
    background-image: url("../Assets/Icons/svg/Github.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.reference {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
}

.reference .reference-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.reference-title h2 {
    font-size: 2rem;
    grid-column: 2/4;
    justify-self: flex-start;
    margin-left: 2rem;
}

.reference-title span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    grid-column: 1/2;
    background-image: url("../Assets/Icons/svg/bookmark.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.reference .reference-contacts div {
    padding: 2rem;
    font-size: 1.4rem;
}

.reference .reference-contacts div>p {
    padding: 0.5rem;
}

.reference .reference-contacts .reference-name {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 3rem;
}

.reference .reference-contacts .reference-work {
    color: var(--gold);
}

.reference .reference-contacts a {
    text-decoration: none;
    color: var(--black-text);
}

.reference .reference-contacts p:last-child {
    text-align: right;
}

footer {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--white-text);
}

footer div {
    width: 80%;
    text-align: center;
}

footer div a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: var(--white-text);
}

footer .footer-name a .goldLetter {
    color: var(--gold);
}

footer .footer-name a:before {
    content: "<";
}

footer .footer-name a:after {
    content: ">";
}

.animate-flicker {
    opacity: 1;
    animation: flickerAnimation 1s infinite;
    color: var(--main-color);
}

@keyframes flickerAnimation {

    /* flame pulses */
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}